<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE group PUBLIC 
          "-//TELUS.com//DTD PropertyNode 1.0//EN" 
          "http://DummyURLGetviaClassPath/PropertyNode.dtd">


<group name="config">

  <group name="logging">

    <prop name="log4j.rootCategory">@CRD_CRDA_LOG_LEVEL@, CONSOLE</prop>


    <prop name="log4j.debug">true</prop>

    <prop name="log4j.appender.CONSOLE">org.apache.log4j.ConsoleAppender</prop>
    <prop name="log4j.appender.CONSOLE.Threshold">@CRD_CRDA_LOG_LEVEL@</prop>
    <prop name="log4j.appender.CONSOLE.layout">org.apache.log4j.PatternLayout</prop>
    <prop name="log4j.appender.CONSOLE.layout.ConversionPattern">[%d{DATE} %c %-5p]- %m%n</prop>

    <prop name="log4j.appender.FILE">org.apache.log4j.DailyRollingFileAppender</prop>
    <prop name="log4j.appender.FILE.Append">true</prop>
    <prop name="log4j.appender.FILE.Threshold">@CRD_CRDA_LOG_LEVEL@</prop>
    <prop name="log4j.appender.FILE.layout">org.apache.log4j.PatternLayout</prop>
    <prop name="log4j.appender.FILE.layout.ConversionPattern">%-25d %-5p [%-10t] %c{3} - %m%n</prop>
    <prop name="log4j.appender.FILE.file">${logs}/${jobname}-BEC.log</prop>

    <prop name="log4j.logger.com.telus.framework.batch">@CRD_CRDA_LOG_LEVEL@, FILE</prop>

    <!--  File appender for Credit Assessment services -->
    <prop name="log4j.appender.WLN_CRD_PRFL">org.apache.log4j.DailyRollingFileAppender</prop>
    <prop name="log4j.appender.WLN_CRD_PRFL.Append">true</prop>
    <prop name="log4j.appender.WLN_CRD_PRFL.layout">org.apache.log4j.PatternLayout</prop>
    <prop name="log4j.appender.WLN_CRD_PRFL.layout.ConversionPattern">%d{yyyy-MM-dd/HH:mm:ss.SSS/zzz} %-5p %c{2} - %m%n</prop>
    <prop name="log4j.appender.WLN_CRD_PRFL.file">${logs}/${jobname}-WLNCrdPrflMgtService_v1_1.log</prop>
            
    <!-- Enterprise Credit Profile Data Management Service -->
    <prop name="log4j.logger.com.telus.credit.wlnprflmgt">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.telus.framework">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.java.sql.PreparedStatement">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.java.sql.Connection">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.org.springframework">@CRD_CRDA_LOG_LEVEL@, FILE</prop>                 
    <prop name="log4j.additivity.com.telus.credit.entprflmgt">false</prop>
    
    <!--  sftx configuration... --> 
    <prop name="log4j.additivity.FILE">false</prop>
    <prop name="log4j.additivity.SFTX">false</prop>
    <prop name="log4j.additivity.sftx-operator">false</prop>

    <prop name="log4j.additivity.java.sql.Connection">false</prop>
    <prop name="log4j.additivity.java.sql.Statement">false</prop>
    <prop name="log4j.additivity.java.sql.PreparedStatement">false</prop>
    <prop name="log4j.additivity.java.sql.ResultSet">false</prop>
    <prop name="log4j.additivity.org.springframework">false</prop>

    <prop name="log4j.logger.java.sql.Connection">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.java.sql.Statement">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.java.sql.PreparedStatement">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.java.sql.ResultSet">@CRD_CRDA_LOG_LEVEL@, FILE</prop>

    <prop name="log4j.logger.org.springframework">@CRD_CRDA_LOG_LEVEL@, FILE</prop>

    <prop name="log4j.logger.com.telus.framework">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.telus.credit.crda">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.fico.telus">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.telus.crd.assessment.batch">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.additivity.com.telus.framework.filetransfer">false</prop>
    <prop name="log4j.logger.com.telus.framework.filetransfer">@CRD_CRDA_LOG_LEVEL@, SFTX</prop>
    <prop name="log4j.additivity.com.telus.framework.filetransfer.FileTransferTransmission">false</prop>
    <prop name="log4j.additivity.com.telus.framework.filetransfer.FileTransferRecipient">false</prop>
    <prop name="log4j.additivity.com.telus.framework.filetransfer.FileTransferRequestAccessor">false</prop>
    <prop name="log4j.logger.com.telus.framework.filetransfer.FileTransferTransmission">@CRD_CRDA_LOG_LEVEL@, SFTX</prop>
    <prop name="log4j.logger.com.telus.framework.filetransfer.FileTransferRecipient">@CRD_CRDA_LOG_LEVEL@, SFTX</prop>
    <prop name="log4j.logger.com.telus.framework.filetransfer.FileTransferRequestAccessor">@CRD_CRDA_LOG_LEVEL@, SFTX</prop>
        
     <!-- console messages for the operator -->
    <prop name="log4j.logger.sftx-operator">@CRD_CRDA_LOG_LEVEL@, CONSOLE</prop>

    <!--  SqlMap logging configuration... --> 
    <prop name="log4j.logger.java.sql.PreparedStatement">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.ibatis">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.ibatis.common.jdbc.SimpleDataSource">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.ibatis.common.jdbc.ScriptRunner">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
    <prop name="log4j.logger.com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate">@CRD_CRDA_LOG_LEVEL@, FILE</prop>

    <prop name="log4j.logger.java.sql.Connection">@CRD_CRDA_LOG_LEVEL@, FILE</prop> 
    <prop name="log4j.logger.java.sql.Statement">@CRD_CRDA_LOG_LEVEL@, FILE</prop> 
    <prop name="log4j.logger.java.sql.PreparedStatement">@CRD_CRDA_LOG_LEVEL@, FILE</prop> 
    <prop name="log4j.logger.java.sql.ResultSet">@CRD_CRDA_LOG_LEVEL@, FILE</prop>
 

  </group>

</group>




