<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <display-name>EnterpriseCreditProfileMgtService</display-name>

   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/classes/enterpriseProfileManagement-spring.xml</param-value>
   </context-param>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <servlet>
      <servlet-name>EnterpriseCreditProfileMgtServlet</servlet-name>
      <servlet-class>com.telus.credit.entprflmgt.webservice.service.EnterpriseCreditProfileManagementServicePortImpl</servlet-class>
      <init-param>
          <param-name>wl-dispatch-policy</param-name>
          <param-value>WorkManager-Online</param-value>
      </init-param>
      <load-on-startup>0</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>EnterpriseCreditProfileMgtServlet</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>

</web-app>
